@model Tuple<List<RezervasyonIstekleri>, List<GelenAraclar>>
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Admin Paneli</title>

    <!-- CSS -->
    <link href="~/AdminPaneli/css/transdmin.css" rel="stylesheet" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="style/css/ie6.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="style/css/ie7.css" /><![endif]-->
    <!-- JavaScripts-->
    <script type="text/javascript" src="~/AdminPaneli/js/jquery.js"></script>
    <script type="text/javascript" src="~/AdminPaneli/js/jNice.js"></script>
</head>

<body>
    <div id="wrapper">
        <!-- h1 tag stays for the logo, you can use the a tag for linking the index page -->
        <br />

        <!-- You can name the links with lowercase, they will be transformed to uppercase by CSS, we prefered to name them with uppercase to have the same effect with disabled stylesheet -->
        <ul id="mainNav">

            <li class="logout">@Html.ActionLink("LOGOUT", "Index", "Home")</li>
        </ul>
        <!-- // #end mainNav -->

        <div id="containerHolder">
            <div id="container">
                <div id="sidebar">
                    <ul class="sideNav">
                        <li>@Html.ActionLink("İstekler", "istekler", "Admin")</li>
                        <li>@Html.ActionLink("Araç Ekle", "aracEkle", "Admin")</li>
                        <li>@Html.ActionLink("Araç Sil", "aracSil", "Admin")</li>
                        <li> @Html.ActionLink("Araç Bilgilerini Düzenle", "aracBilgileriniDuzenle", "Admin") </li>
                        <li><b>@Html.ActionLink("Kiradan Gelen Araçlar ", "kiradanGelenAraclar", "Admin")</b> </li>
                        <li>@Html.ActionLink("Admin Ekle ", "adminEkle", "Admin")</b> </li>
                        <li>@Html.ActionLink("Raporlama", "raporlama", "Admin")</li>

                    </ul>
                    <!-- // .sideNav -->
                </div>
                <!-- // #sidebar -->
                <!-- h2 stays for breadcrumbs -->

                <div id="main">
                    @using (Html.BeginForm("kiradanGelenAraclarControl", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <form action="" class="jNice">
                            <h3>Kiradan Dönen Araçlar</h3>

                            <fieldset>

                                <p>
                                    <label>Aracın Teslim Alınan Tarihi:</label>
                                    <select id="Arac_Alis_Gun" name="Arac_Alis_Gun">
                                        @for (int i = 1; i <= 31; i++)
                                        {
                                            <option>@i</option>
                                        }
                                    </select>
                                    <select id="Arac_Alis_Ay" name="Arac_Alis_Ay">
                                        @for (int i = 1; i <= 12; i++)
                                        {
                                            <option>@i</option>
                                        }
                                    </select>
                                    <select id="Arac_Alis_Yil" name="Arac_Alis_Yil">
                                        <option value="2016" selected=selected>2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                    </select>

                                </p>
                                <p>
                                    <label>İstek Numaraları:</label>
                                    <select name="istek_numarasi">
                                        @{
                                            using (araclazim db = new araclazim())
                                            {
                                                foreach (RezervasyonIstekleri item in db.RezervasyonIstekleri)
                                                {
                                                    if (item.onayDurumu.Equals("Onaylandı"))
                                                    {
                                                        bool flag = false;
                                                        foreach (GelenAraclar gelAraclar in db.GelenAraclar)
                                                        {

                                                            if (gelAraclar.rezIstekId == item)
                                                            {
                                                                flag = true;
                                                                break;
                                                            }

                                                        }
                                                        if (flag == false)
                                                        {
                                                            <option>@Convert.ToString(@item.Id)</option>
                                                        }
                                                    }


                                                }
                                            }

                                        }
                                    </select>
                                </p>

                                <label>Hasar Ücreti:</label>
                                <input type="text" class="text-long" name="hasarUcreti" value="0"/>
                                <input type="submit" value="Ödenecek Tutarı Görüntüle" />
                            </fieldset>


                            @*<fieldset>
                                <p>

                                    <label>Kiralama Bedeli :</label>
                                    <label>Toplam Ödenecek Miktar :</label>
                                </p>
                                <input type="submit" value="Arac Teslim Alındı ve Ücreti Tahsis Edildi" />
                            </fieldset>*@
                        </form>


                                        }
                </div>
                <!-- // #main -->

                <div class="clear"></div>
            </div>
            <!-- // #container -->
        </div>
        <!-- // #containerHolder -->


    </div>
    <!-- // #wrapper -->
</body>
</html>
